<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL SHORT</title>

  <link rel="stylesheet" href="./form.css">
</head>

<body>
  <form autocomplete="off" action="/url" method="POST">
    <input class="field" type="url" name="url" placeholder="Enter URL" required>
    <input class="btn" type="submit" value="Generate Short ID">
  </form>
</body>

</html>